*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: beige;
}
a{
    text-decoration: none;
}

body{
    background-image: url(./pexels-felix-mittermeier-956999.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: auto;
}

header ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    font-size: 15px;
    padding-bottom: 10px;
}

header ul li a{
    transition: 400ms;
}

header ul li a:hover{
    color: aqua;
    text-decoration: underline;
}

.container{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.container h1{
    font-size: 40px;
}
.container h5{  
    font-size: 20px;
    margin-bottom: 20px;
}
#about p{
    margin: 0 auto;
    max-width: 400px;
    max-width: 40%;
}

#form {
    padding-top: 20px;
}
#form input{
    max-width: 20%;
    border: none;
    padding: 5px 10px;
}

#form button{
    width: 50px;
    padding: 5px 10px;
    background: linear-gradient(to right, rgb(112, 97, 243) 50px, rgb(36, 12, 250) 50px);
    background-size: 200% 100%;
    background-position: right bottom;
    color: white;
    font-weight: 300;
    border: none;
    transition: all 300ms ease-out;
    cursor: pointer;
    border-radius: 0px 5px 0px 5px;
    margin-left: -5px;
    
    
}
#form button:hover{
    background-position: left bottom;
}



@media only screen and (max-width: 480px){
    .container .name h1{
        font-size: 30px;
    }
    .container .name h5{
        font-size: 15px;
    }

    #about p{
        max-width: 80%;
        text-align: justify;
        font-size: 15px;
    }
    #form{
        width: 100%;
    }
}