*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: beige;
}
a{
    text-decoration: none;
}

body{
    background-image: url(./backgroud.PNG);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}